
<div class="row">
  <div class="col-md-12">
    <h1> Hello <span id="user"> <%= @conn.params["user"] %>  </span> !!</h1>
  </div>
  <div class="col-md-8">
    <h3> Messages </h3>
    <ul id="messageList" class="list-unstyled">
    </ul>
    <input type="text" id="newMessage" class="form-control" />
  </div>
  <div class="col-md-4">
    <h3>Users Online!</h3>
    <ul id="userList" class="list-unstyled">
      <li></li>
    </ul>
  </div>
</div>
