phoenix_app/_build
phoenix_app/db
phoenix_app/deps
phoenix_app/*.ez
phoenix_app/erl_crash.dump
phoenix_app/npm-debug.log
phoenix_app/assets/node_modules
phoenix_app/priv/static/
phoenix_app/config/*.secret.exs
